<div class="row">
  <div [ngClass]="{ 'col-md-8': !account, 'col-md-12': account }">
    <h1 class="display-4">Dolore ullamco duis sunt ut occaecat culpa.</h1>
    <p>
      Officia in cupidatat est eu exercitation reprehenderit pariatur do. Mollit culpa qui nostrud cupidatat dolore dolore officia ut veniam
      ipsum. Dolore eiusmod cillum qui proident dolor aliquip elit deserunt cupidatat veniam cupidatat veniam exercitation ipsum. Laborum
      adipisicing dolor consequat ea nisi magna dolore officia occaecat et magna in. Pariatur aliquip voluptate sint aliqua proident et do
      Lorem. Consectetur magna nulla adipisicing occaecat est. Proident dolore irure velit sunt duis commodo ex veniam ullamco Lorem
      excepteur.
    </p>
  </div>
  <div class="col-md-4" *ngIf="!account">
    <app-login></app-login>
  </div>
</div>
